<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Favicon-->
      <link rel="shortcut icon" href="{{ url_for('static', filename='playergap.ico') }}">
      <!-- Bootstrap icons-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <!-- DataTables -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">    
      <!-- Our own stylesheet -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
      {% if title %}
          <title>PlayerGap - {{ title }}</title>
      {% else %}
          <title>PlayerGap</title>
      {% endif %}
  </head>
  <body class="d-flex flex-column min-vh-100">
      <main role="main" class="flex-shrink-0">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <!-- Navigation-->
          <nav class="navbar navbar-expand-lg navbar-dark bg-steel">
              <div class="container px-5">
                  <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='playergap.jpg') }}" alt="" width="40" height="40" class="d-inline-block me-2">
                    <strong class="text-white-custom">PLAYERGAP</strong>
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item"><a class="nav-link" href="{{ url_for('settings') }}">NFL</a></li>
                      </ul>
                      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                          <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
          {% block content %}{% endblock %}
      </main>
      <!-- Footer-->
      <footer class="bg-steel py-4 mt-auto">
          <div class="container px-5">
              <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                  <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; PlayerGap 2022</div></div>
                  <div class="col-auto">
<!--                       <a class="link-light small" href="#!">Privacy</a>
                      <span class="text-white mx-1">&middot;</span>
                      <a class="link-light small" href="#!">Terms</a>
                      <span class="text-white mx-1">&middot;</span> -->
                      <a class="link-light small" href="{{ url_for('contact') }}">Contact</a>
                  </div>
              </div>
          </div>
      </footer>
      <!-- jQuery and Bootstrap Bundle (includes Popper) -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <!-- DataTables -->
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
      {% block script %}{% endblock %}
  </body>
</html>


  