{% extends "layout.html" %}

{% block content %}
    <div class="container px-5 py-5">
        <div class="row">
            <div class="col-md-9">
                <div class="content-section" style="margin-bottom: 5px;">
                    <form method="POST" action="/draft">
                        {{ form.hidden_tag() }}
                        <fieldset>
                            <legend class="border-bottom mb-4"><b>Draft Settings</b></legend>
                            <div class="row">
                                <div class="col-sm px-4">
                                    <div class="row mb-3">
                                        {{ form.system.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            {{ form.system(class="form-select") }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.scoring_format.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            {{ form.scoring_format(class="form-select") }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.adp_source.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            {{ form.adp_source(class="form-select") }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.num_teams.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            {{ form.num_teams(class="form-select") }}
                                        </div>    
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.roster_size.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            {{ form.roster_size(class="form-select") }}
                                            <div class="form-text">Excluding K and DST</div>
                                        </div>   
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.keepers_flag.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7 d-flex align-items-center">
                                            <div class="form-check form-switch form-switch-sm">
                                                {{ form.keepers_flag(class="form-check-input switch-custom") }}
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                <div class="col-sm px-4">
                                    <div class="row mb-3">
                                        {{ form.pass_yd.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <span class="input-group-text">1 pt every</span>
                                                {{ form.pass_yd(class="form-control text-end", type="number", min="0", max="99") }}
                                                <span class="input-group-text">yds</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.pass_td.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                {{ form.pass_td(class="form-control text-end", type="number", min="0", max="99") }}
                                                <span class="input-group-text">pts</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.pass_int.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                {{ form.pass_int(class="form-control text-end", type="number", min="-99", max="0") }}
                                                <span class="input-group-text">pts</span>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.rush_yd.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <span class="input-group-text">1 pt every</span>
                                                {{ form.rush_yd(class="form-control text-end", type="number", min="0", max="99") }}
                                                <span class="input-group-text">yds</span>
                                            </div>
                                        </div>                              
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.rush_td.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                {{ form.rush_td(class="form-control text-end", type="number", min="0", max="99") }}
                                                <span class="input-group-text">pts</span>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.receiv_yd.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <span class="input-group-text">1 pt every</span>
                                                {{ form.receiv_yd(class="form-control text-end", type="number", min="0", max="99") }}
                                                <span class="input-group-text">yds</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.receiv_td.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">    
                                            <div class="input-group">
                                                {{ form.receiv_td(class="form-control text-end", type="number", min="0", max="99") }}
                                                <span class="input-group-text">pts</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{ form.fumble_lst.label(class="col-sm-5 col-form-label") }}
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                {{ form.fumble_lst(class="form-control text-end", type="number", min="-99", max="0") }}
                                                <span class="input-group-text">pts</span>
                                            </div>
                                        </div>
                                    </div>      
                                </div> 
                            </div> 
                        </fieldset>
                        <div>
                            {{ form.save_settings(class="btn btn-custom") }}
                        </div>
                    </form>
                </div> 
                <p>
                    <strong>ADP sources:</strong>
                    <a href="https://www.espn.com/fantasy/football/" target="_blank" rel="noopener noreferrer">ESPN</a>, 
                    <a href="https://www.fantrax.com/" target="_blank" rel="noopener noreferrer">Fantrax</a>, 
                    <a href="https://fantasyfootballcalculator.com/" target="_blank" rel="noopener noreferrer">FantasyFootballCalculator</a>, 
                    <a href="https://www.fantasypros.com/" target="_blank" rel="noopener noreferrer">FantasyPros</a>, 
                    <a href="http://home.myfantasyleague.com/" target="_blank" rel="noopener noreferrer">MyFantasyLeague</a>, 
                    <a href="https://www.rtsports.com/" target="_blank" rel="noopener noreferrer">RealTimeFantasySports</a>, 
                    <a href="https://sleeper.app/fantasy-football" target="_blank" rel="noopener noreferrer">Sleeper</a>, 
                    <a href="https://football.fantasysports.yahoo.com/" target="_blank" rel="noopener noreferrer">Yahoo</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        let system_select = document.getElementById('system');
        let num_teams_select = document.getElementById('num_teams');
        let roster_size_select = document.getElementById('roster_size');
        let scoring_format_select = document.getElementById('scoring_format');
        let adp_source_select = document.getElementById('adp_source');
        
        system_select.onchange = function() {
            system = system_select.value;
            scoring_format = scoring_format_select.value;
            num_teams = num_teams_select.value;  
            adp_source = adp_source_select.value; 
            
            fetch('/settings/adp_sources/' + system + '/' + scoring_format).then(function(response) {
                response.json().then(function(data) {
                    let optionHTML = '';
                    for (let src of data.adp_sources) {
                        optionHTML += '<option value="' + src + '">' + src + '</option>';
                    }
                    
                    adp_source_select.innerHTML = optionHTML;
                    
                });
            });

            fetch('/settings/num_rounds/' + system).then(function(response) {
                response.json().then(function(data) {
                    let optionHTML = '';
                    for (let rd of data.num_rounds) {
                        optionHTML += '<option value="' + rd + '">' + rd + '</option>';
                    }
                    
                    roster_size_select.innerHTML = optionHTML;
                    
                });
            });                            
        }
        
        scoring_format_select.onchange = function() {
            system = system_select.value;
            scoring_format = scoring_format_select.value;  
            
            fetch('/settings/adp_sources/' + system + '/' + scoring_format).then(function(response) {
                response.json().then(function(data) {
                    let optionHTML = '';
                    for (let src of data.adp_sources) {
                        optionHTML += '<option value="' + src + '">' + src + '</option>';
                    }
                    
                    adp_source_select.innerHTML = optionHTML;
                    
                });
            });
        }

        $('#system').on('change', function() {
            const array = ['1-QB', '2-QB'];
            if (array.includes($(this).val())) {
                $('#keepers_flag').prop("disabled", false);
            } else {
                $('#keepers_flag').prop("disabled", true);
            }
        });
    </script>
{% endblock script %}