html {
    width: 100vw;
    overflow-x: hidden;
}

body {
  background: #F8F8F8;
  color: #485162;
}

a { 
  text-decoration: none;
}

td {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  color: #485162;
}

.bg-steel {
  background-color: #485162;
}

.bg-blue {
  background-color: #3CACD7;
}

.nav-link {
  color: #C9C9C9;
}

.nav-link:hover {
  color: #F8F8F8;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #FFFFFF;
  padding: 10px 20px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin-bottom: 20px;
}

.btn-custom {
  color: #485162;
  background-color: #FF9678;
  border-color: #FF9678;
}

.btn-custom:hover {
  color: #485162;
  background-color: #FC8D6D;
  border-color: #FC8D6D;
}

.btn-pick {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.65rem;
  width: 1.65rem;
  font-size: 1.65rem;
  color: #3CACD7;
  padding: 0;
  border: 0;
  line-height: 0;
}

.btn-pick:hover {
  color: #1A99CA;
  background-size: 0rem 0rem;
}

.form-check-input:checked {
    background-color: #485162;
    border-color: #485162;
}

.thead-custom {
    color: #F8F8F8;
    background-color: #485162;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.text-white-custom {
  color: #F8F8F8;
}

.text-white-custom-2 {
  color: #C9C9C9;
}

.text-gray-custom {
  color: #485162;
}

.nav-dark {
  color: #C9C9C9;
}

